<div class="matero-container-wrap" dir="ltr" [ngClass]="{'matero-sidenav-collapsed': sidenavCollapsed}">
  <ng-progress></ng-progress>

  <mat-sidenav-container class="matero-container" autosize autoFocus>
    <mat-sidenav #sidenav class="matero-sidenav" [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
      (openedChange)="openedChange($event)">
      <app-sidebar (toggleCollapsed)="toggleCollapsed()" [showToggle]="!isOver">
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavRight position="end" mode="over" opened="false">
      <app-sidebar-right></app-sidebar-right>
    </mat-sidenav>

    <mat-sidenav-content class="matero-content-wrap" #content>
      <app-header #header class="matero-header" (toggleSidenav)="sidenav.toggle()"
        (toggleSidenavRight)="sidenavRight.toggle()" [showToggle]="!sidenavCollapsed"></app-header>

      <div class="matero-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
